@import "~react-image-gallery/styles/css/image-gallery.css";

.round-img {
	width: 200px; /* Adjust the width and height as needed */
	height: 200px; /* Make the width and height equal to create a square */
	border-radius: 50%;
}

.card {
	margin: 0 auto; /* Added */
	margin-top: 5em;
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
}

.ql-editor {
	white-space: unset !important;
}

@media only screen and (max-width: 600px) {
	.chat-profile-link {
		background-color: red;
		position: absolute;
		z-index: 10;
		width: 15em;
		min-height: 3.5em;
		left: 25%;
		opacity: 0.5;
	}
}

@media only screen and (min-width: 768px) {
	.chat-profile-link {
		background-color: blue;
		position: absolute;
		z-index: 10;
		width: 15em;
		min-height: 3.5em;
		left: 35%;
		opacity: 0.5;
		cursor: pointer;
	}
}
